<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="Hana" connectionString="Server=carsystem:30115;UserName=SYSTEM;Password=C@rSy3tem!SYS" providerName="Sap.Data.Hana" />
  </connectionStrings>
  <appSettings>
    <add key="SleepTime" value="30"/>
    <add key="CompanyDB" value="PRE_GOLIVE" />
    <!--<add key="CompanyDB" value="SBO_CARSYSTEM_PRD" />-->
    <add key="UserName" value="manager" />
    <add key="Password" value="B1Admin@" />
    <!--<add key="ServiceLayer" value="https://10.36.147.15:50100/b1s/v1/" />-->
    <add key="ServiceLayer" value="https://3.209.19.228:50100/b1s/v1/" />

  </appSettings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="WsSoap3" />
        <binding name="WsSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsSoap4" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WsSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="WsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://sistema.valideinfoweb.com.br/ws.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsSoap" contract="ValideInfo.WsSoap"
        name="WsSoap" />
      <endpoint address="https://sistema.valideinfoweb.com.br/ws.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsSoap1" contract="Valide.WsSoap"
        name="WsSoap1" />
      <endpoint address="https://sistema.valideinfoweb.com.br/ws.asmx"
        binding="customBinding" bindingConfiguration="WsSoap12" contract="Valide.WsSoap"
        name="WsSoap12" />
    </client>
  </system.serviceModel>
</configuration>
