<?xml version="1.0" encoding="utf-8"?>
<configuration>



  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  
  
    
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="ConexaoBD" connectionString="Password=Senha;Persist Security Info=True;User ID=sa;Initial Catalog=Base;Data Source=Servidor;" providerName="System.Data.SqlClient"/>
    <add name="cnxSistema" connectionString="Data Source=Fury;Initial Catalog=Principal;Persist Security Info=True;User ID=userFranquia;Password=2FACA908-D931-4DA8-BC99-497C7B515021" providerName="System.Data.SqlClient" />
 </connectionStrings>
  <appSettings>
    <add key="SleepTime" value="30"/>
    <add key="CompanyDB" value="PRE_GOLIVE" />
    
  </appSettings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="intouchwsSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="intouchwsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://wsi4.unitfour.com.br/intouchws.asmx"
        binding="basicHttpBinding" bindingConfiguration="intouchwsSoap"
        contract="ServiceConsultaDocumento.intouchwsSoap" name="intouchwsSoap" />
      <endpoint address="http://wsi4.unitfour.com.br/intouchws.asmx"
        binding="customBinding" bindingConfiguration="intouchwsSoap12"
        contract="ServiceConsultaDocumento.intouchwsSoap" name="intouchwsSoap12" />
    </client>
  </system.serviceModel>
</configuration>
